
#profile-photo { 

	width: 130pt;
	height: 130pt;
	border: 3pt solid var(--card-background-color);
	border-radius: 50%;
	box-shadow: var(--card-box-shadow);
	object-fit: cover;
	float: right;
}

#projects .grid {

	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;	

	margin-top: 3em;
}

#projects .card {

	background-color: var(--card-background-color);
	padding-bottom: 2em;

	display: grid;
	grid-template-rows: auto auto auto 1fr;
}

@media (min-width: 576px) {

	#projects .grid {
		grid-gap: 1rem;
		margin-top: 1em;
	}

	#projects .card {

		padding: 1.2em;
		box-shadow: var(--card-box-shadow);

	}
}

@media (min-width: 992px) {

	#projects .grid {
		grid-template-columns:1fr 1fr;
	}

	#projects .odd {
		display: none;
	}	
}

@media (min-width: 1200px) {

	#projects .grid {
		grid-template-columns:1fr 1fr 1fr;
	}

	#projects .odd {
		display: grid;
	}	

	#projects p {

		font-size: 0.87em;
	}	
}

#projects h4 {

	--font-size: 1rem;
	--font-weight: 500;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

#projects .accolades {

	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="28"><path fill="%23999" fill-rule="evenodd" d="M11.978 25.513a4.19 4.19 0 0 1 1.52-.101c.298.036.55.102.745.173.345.125.498.28.513.338.014.058-.048.266-.294.54-.14.153-.33.33-.576.501a4.19 4.19 0 0 1-1.39.625 4.19 4.19 0 0 1-1.522.101 3.405 3.405 0 0 1-.744-.173c-.345-.125-.498-.28-.513-.338-.014-.058.048-.266.294-.54.14-.153.33-.33.576-.502a4.19 4.19 0 0 1 1.39-.624Zm2.588-5.13c.06-.009.261.071.512.34.14.152.3.358.45.618.214.371.408.852.501 1.44a4.19 4.19 0 0 1-.032 1.523c-.062.293-.15.539-.237.727-.155.333-.322.472-.382.481-.06.01-.261-.07-.511-.34a3.405 3.405 0 0 1-.45-.617 4.19 4.19 0 0 1-.502-1.44 4.19 4.19 0 0 1 .032-1.524c.062-.293.15-.538.237-.726.155-.333.323-.472.382-.481Zm-8.13 2.552c.4-.153.906-.27 1.5-.27.595 0 1.1.117 1.5.27.28.107.509.232.681.348.305.206.416.392.416.453 0 .06-.111.246-.416.452-.172.116-.4.24-.68.348-.4.153-.906.27-1.5.27a4.19 4.19 0 0 1-1.501-.27 3.405 3.405 0 0 1-.68-.348c-.305-.206-.416-.392-.416-.452s.111-.247.416-.453c.172-.116.4-.24.68-.348Zm5.233-4.619.02-.001c.06.005.236.132.414.453.1.182.205.42.287.708.118.413.19.926.138 1.518a4.19 4.19 0 0 1-.4 1.472c-.13.269-.275.486-.405.647-.231.286-.427.38-.487.375-.06-.006-.236-.132-.414-.454-.1-.181-.205-.42-.288-.708a4.19 4.19 0 0 1-.138-1.518 4.19 4.19 0 0 1 .4-1.471c.131-.27.275-.486.406-.648.23-.285.427-.38.487-.374l-.02.001Zm-9.546.302.104-.017c.205-.03.465-.041.764-.015a4.19 4.19 0 0 1 1.467.415c.534.26.937.587 1.23.9.204.22.355.432.459.611.183.318.201.535.175.59-.026.053-.208.172-.572.223-.205.029-.466.041-.764.015a4.19 4.19 0 0 1-1.467-.415 4.19 4.19 0 0 1-1.23-.9 3.405 3.405 0 0 1-.459-.612c-.184-.318-.201-.534-.175-.588.026-.054.208-.174.572-.224l-.104.017Zm7.013-1.759c.332-.155.55-.154.601-.123.052.03.155.222.174.589.01.207 0 .467-.052.762a4.19 4.19 0 0 1-.542 1.425 4.19 4.19 0 0 1-1.004 1.147c-.235.185-.46.316-.648.404-.333.156-.55.155-.602.124-.052-.031-.155-.223-.174-.59-.01-.207 0-.467.052-.762a4.19 4.19 0 0 1 .542-1.425 4.19 4.19 0 0 1 1.004-1.147c.236-.185.46-.316.649-.404Zm-8.454-3.7c.038-.046.243-.118.609-.08.206.022.461.073.744.171.406.14.868.375 1.323.758.456.382.768.796.976 1.17.145.263.24.505.297.705.102.353.067.567.028.613-.038.046-.244.118-.609.08a3.405 3.405 0 0 1-.745-.171 4.19 4.19 0 0 1-1.323-.758 4.19 4.19 0 0 1-.975-1.171 3.405 3.405 0 0 1-.298-.704c-.101-.353-.066-.567-.027-.613Zm7.734-.098c.36-.07.57-.017.613.026.043.042.096.253.026.613-.04.204-.113.454-.235.728a4.19 4.19 0 0 1-.87 1.251c-.42.42-.86.696-1.252.87a3.405 3.405 0 0 1-.727.235c-.36.07-.571.017-.614-.026-.042-.042-.096-.253-.025-.613.04-.204.113-.454.235-.727a4.19 4.19 0 0 1 .87-1.252c.42-.42.86-.695 1.251-.87.274-.122.524-.195.728-.235ZM1.064 7.567c.05-.032.268-.041.606.103.19.08.42.204.662.38.347.253.72.613 1.044 1.112.323.498.5.986.59 1.405.063.293.082.553.079.76-.006.368-.103.562-.153.595-.05.033-.268.042-.606-.102a3.405 3.405 0 0 1-.662-.381 4.19 4.19 0 0 1-1.044-1.111 4.19 4.19 0 0 1-.59-1.406 3.405 3.405 0 0 1-.079-.76c.006-.367.103-.562.153-.595ZM7.58 9.768l.144-.02c.298-.037.558-.034.765-.013.365.038.55.151.579.204.028.053.018.27-.155.595-.097.183-.24.4-.437.627a4.19 4.19 0 0 1-1.198.942 4.19 4.19 0 0 1-1.452.466 3.405 3.405 0 0 1-.764.012c-.365-.038-.55-.15-.579-.204-.028-.053-.018-.27.155-.594.097-.183.24-.401.437-.627a4.19 4.19 0 0 1 1.198-.943 4.19 4.19 0 0 1 1.451-.466l-.144.021ZM3.342 2.544c.057-.02.27.024.563.246.166.125.358.3.55.53.276.328.55.768.744 1.33a4.19 4.19 0 0 1 .234 1.507c-.01.299-.054.556-.108.756-.095.355-.235.52-.292.54-.057.02-.27-.024-.563-.245a3.405 3.405 0 0 1-.55-.53 4.19 4.19 0 0 1-.744-1.33 4.19 4.19 0 0 1-.234-1.507c.01-.3.054-.557.108-.757.095-.355.235-.52.292-.54ZM7.756 6.37a4.19 4.19 0 0 1 1.521-.1c.298.036.55.102.745.173.345.125.498.28.512.338.015.058-.047.266-.293.54-.14.153-.33.33-.576.501a4.19 4.19 0 0 1-1.39.625 4.19 4.19 0 0 1-1.522.101 3.405 3.405 0 0 1-.744-.173c-.345-.125-.498-.28-.513-.338-.014-.058.048-.267.294-.54.139-.153.33-.33.576-.502a4.19 4.19 0 0 1 1.39-.625ZM9.261.985c.347-.12.563-.096.61-.06.049.036.131.237.112.604a3.405 3.405 0 0 1-.132.753 4.19 4.19 0 0 1-.687 1.36 4.19 4.19 0 0 1-1.118 1.036 3.405 3.405 0 0 1-.688.334c-.347.12-.563.096-.611.06-.048-.036-.13-.237-.111-.604.01-.207.049-.465.131-.753a4.19 4.19 0 0 1 .688-1.36 4.19 4.19 0 0 1 1.118-1.036c.254-.16.491-.267.688-.334Z"/></svg>') left center no-repeat, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="28"><path fill="%23999" fill-rule="evenodd" d="M4.535 25.513a4.19 4.19 0 0 0-1.52-.101c-.298.036-.55.102-.745.173-.345.125-.498.28-.513.338-.014.058.048.266.294.54.139.153.33.33.576.501a4.19 4.19 0 0 0 1.39.625 4.19 4.19 0 0 0 1.522.101c.297-.036.549-.102.744-.173.345-.125.498-.28.512-.338.015-.058-.047-.266-.293-.54a3.405 3.405 0 0 0-.576-.502 4.19 4.19 0 0 0-1.39-.624Zm-2.588-5.13c-.06-.009-.261.071-.512.34-.141.152-.3.358-.45.618a4.19 4.19 0 0 0-.501 1.44 4.19 4.19 0 0 0 .032 1.523c.062.293.15.539.237.727.155.333.322.472.382.481.059.01.26-.07.511-.34.142-.151.3-.358.45-.617a4.19 4.19 0 0 0 .502-1.44 4.19 4.19 0 0 0-.032-1.524 3.405 3.405 0 0 0-.237-.726c-.156-.333-.323-.472-.382-.481Zm8.13 2.552a4.19 4.19 0 0 0-1.5-.27c-.595 0-1.1.117-1.5.27-.28.107-.51.232-.681.348-.305.206-.416.392-.416.453 0 .06.111.246.416.452.172.116.4.24.68.348.4.153.906.27 1.5.27.595 0 1.1-.117 1.5-.27.28-.107.51-.232.681-.348.305-.206.416-.392.416-.452s-.111-.247-.416-.453a3.405 3.405 0 0 0-.68-.348Zm-5.233-4.619-.02-.001c-.06.005-.236.132-.414.453-.1.182-.205.42-.287.708a4.19 4.19 0 0 0-.139 1.518 4.19 4.19 0 0 0 .4 1.472c.131.269.276.486.406.647.231.286.427.38.487.375.06-.006.236-.132.414-.454.1-.181.205-.42.287-.708a4.19 4.19 0 0 0 .139-1.518 4.19 4.19 0 0 0-.4-1.471 3.405 3.405 0 0 0-.406-.648c-.231-.285-.427-.38-.487-.374l.02.001Zm9.546.302-.104-.017a3.405 3.405 0 0 0-.764-.015 4.19 4.19 0 0 0-1.467.415 4.19 4.19 0 0 0-1.23.9 3.405 3.405 0 0 0-.459.611c-.184.318-.201.535-.175.59.026.053.208.172.572.223.205.029.465.041.764.015a4.19 4.19 0 0 0 1.466-.415 4.19 4.19 0 0 0 1.23-.9c.205-.22.356-.432.46-.612.183-.318.201-.534.175-.588-.026-.054-.208-.174-.572-.224l.104.017Zm-7.013-1.759c-.333-.155-.55-.154-.601-.123-.052.03-.155.222-.174.589-.01.207 0 .467.052.762.075.422.235.916.541 1.425.307.51.667.883 1.004 1.147.236.185.461.316.65.404.332.156.55.155.6.124.052-.031.155-.223.174-.59.011-.207 0-.467-.052-.762a4.19 4.19 0 0 0-.541-1.425 4.19 4.19 0 0 0-1.004-1.147 3.405 3.405 0 0 0-.649-.404Zm8.454-3.7c-.038-.046-.243-.118-.609-.08a3.405 3.405 0 0 0-.745.171 4.19 4.19 0 0 0-1.322.758 4.19 4.19 0 0 0-.976 1.17c-.146.263-.24.505-.298.705-.101.353-.066.567-.027.613.038.046.243.118.609.08.206-.022.461-.073.745-.171a4.19 4.19 0 0 0 1.322-.758 4.19 4.19 0 0 0 .976-1.171c.146-.262.24-.505.298-.704.101-.353.066-.567.027-.613Zm-7.734-.098c-.36-.07-.57-.017-.613.026-.043.042-.096.253-.026.613.04.204.113.454.235.728.175.391.45.831.87 1.251.42.42.86.696 1.252.87.273.122.523.196.727.235.36.07.57.017.613-.026.043-.042.097-.253.026-.613a3.405 3.405 0 0 0-.235-.727 4.19 4.19 0 0 0-.87-1.252 4.19 4.19 0 0 0-1.251-.87 3.405 3.405 0 0 0-.728-.235Zm7.352-5.494c-.05-.032-.268-.041-.606.103-.19.08-.42.204-.662.38a4.19 4.19 0 0 0-1.044 1.112 4.19 4.19 0 0 0-.59 1.405 3.405 3.405 0 0 0-.08.76c.007.368.103.562.154.595.05.033.267.042.605-.102.191-.081.42-.205.663-.381a4.19 4.19 0 0 0 1.043-1.111 4.19 4.19 0 0 0 .591-1.406c.063-.293.082-.552.079-.76-.006-.367-.103-.562-.153-.595ZM8.933 9.768l-.145-.02a3.405 3.405 0 0 0-.764-.013c-.365.038-.55.151-.579.204-.028.053-.018.27.155.595.097.183.24.4.437.627a4.19 4.19 0 0 0 1.198.942 4.19 4.19 0 0 0 1.451.466c.298.037.558.034.765.012.365-.038.55-.15.579-.204.028-.053.018-.27-.155-.594-.097-.183-.24-.401-.437-.627a4.19 4.19 0 0 0-1.198-.943 4.19 4.19 0 0 0-1.452-.466l.145.021Zm4.238-7.224c-.057-.02-.27.024-.563.246-.166.125-.359.3-.55.53a4.19 4.19 0 0 0-.745 1.33 4.19 4.19 0 0 0-.233 1.507c.01.299.054.556.108.756.095.355.235.52.292.54.057.02.27-.024.563-.245.166-.125.358-.3.55-.53a4.19 4.19 0 0 0 .744-1.33 4.19 4.19 0 0 0 .233-1.507c-.01-.3-.054-.557-.107-.757-.095-.355-.236-.52-.292-.54ZM8.756 6.37a4.19 4.19 0 0 0-1.52-.1c-.298.036-.55.102-.745.173-.345.125-.498.28-.513.338-.014.058.048.266.294.54.14.153.33.33.576.501a4.19 4.19 0 0 0 1.39.625 4.19 4.19 0 0 0 1.522.101c.297-.036.549-.102.744-.173.345-.125.498-.28.513-.338.014-.058-.048-.267-.294-.54a3.405 3.405 0 0 0-.576-.502 4.19 4.19 0 0 0-1.39-.625ZM7.252.985c-.347-.12-.563-.096-.611-.06-.048.036-.13.237-.111.604.011.207.049.465.131.753.119.412.33.886.688 1.36a4.19 4.19 0 0 0 1.118 1.036c.254.16.492.266.688.334.347.12.563.096.61.06.049-.036.131-.237.112-.604a3.405 3.405 0 0 0-.132-.753 4.19 4.19 0 0 0-.687-1.36A4.19 4.19 0 0 0 7.94 1.318a3.405 3.405 0 0 0-.688-.334Z"/></svg>') right center no-repeat;

	display: inline-block;
	min-height: 28pt;
	padding-left: 18pt;
	padding-right: 18pt;
	text-align: center;
}

#projects .accolades p {

	display: inline-block;
	margin-bottom: 0pt;
	font-size: 0.75em;
	color: var(--muted-color);
	vertical-align: bottom;
}

#projects strong {

	font-weight: 600;
}

.appicon {
  -webkit-border-radius: 22%;
  -moz-border-radius: 22%;
  border-radius: 22%;
  overflow: hidden;	
  width:60px;
}

.dead {
	filter: grayscale(100%) contrast(50%);
    -webkit-filter: grayscale(100%) contrast(50%);
    -moz-filter: grayscale(100%) contrast(50%);
	opacity: 50%;	
}

[data-theme="light"],
:root:not([data-theme="dark"]) .bordered {
  border: 1px solid #CACACA;
}

