
{::nomarkdown}
</section>
<section id="projects">
  <div class="grid">
    {% for project in site.data.projects %}
    <div class="card">
      <img class="appicon{% if project.border %} bordered{% endif %}" src="{{ project.pic }}" />
        <h4 style="display: inline-block;">{{ project.name }}</h4>
        {{ project.desc | markdownify }}
        {% if project.accolades %}
        <div class="spacer"></div>
        <div><div class="accolades">{{ project.accolades | markdownify }}</div></div>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
<section>
{:/nomarkdown}