<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

 	<link rel="stylesheet" type='text/css' href='https://unpkg.com/@picocss/pico@1.*/css/pico.min.css' />
 	<link rel='stylesheet' type='text/css' href='/css/main.css'>

	<link rel="shortcut icon" href="/icons/favicon-32x32.png" />
	<link rel="icon" type="image/x-icon" href="/icons/favicon.ico" sizes="any" />    
	<link rel="icon" type="image/svg+xml" href="/icons/icon.svg" />
	<link rel="mask-icon" href="/icons/mask-icon.svg" color="#FF293C" />
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />

	<title>{{ page.title }}</title>
	<meta name="description" content="Zoreslav Khimich's personal web site." />
</head>
<body>
{{ content }}
</body>
</html>
