---
layout: default
---
<main class="container">
<section>
<img src="/img/profile-photo.jpg" id="profile-photo">
<hgroup>
	<h1>{{ page.title }}</h1>
	<h2>{{ page.subtitle }}</h2>
</hgroup>
	<nav>
		<ul>
			<li><a href="#">email</a></li>			
			<li><a href="#">github</a></li>
			<li><a href="#">whatever</a></li>
		</ul>
	</nav>
</section>
{{ content }}
<script src="../js/minimal-theme-switcher.js"></script>
</main>
<footer class="container">
	<small>Made by <a href="mailto:me@zoreslav.com">Zoreslav Khimich</a>. Styles based on <a href="https://picocss.com">Pico.css</a>. Hosted on <a href="https://pages.github.com">Github</a>.</small>
</footer>